{% extends "website/base.html" %}
{% load static %}

{% block menu %}
    <div class="row">
    <div class="col-12">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'website_servicos' %}">Serviços</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website_sobre' %}">Sobre</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'website_planos' %}">Planos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="{% url 'website_contato' %}">Contatos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'core_home' %}">Sistema</a>
            </li>
        </ul>
    </div>
</div>
{% endblock  %}

{% block main %}

<div class="row row-space">    
    <div class="col-6">
        <p>
            {{ mensagem }}
        </p>
    </div>
</div>

    <div class="row row-space">
        <div class="col-6">
            <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" 
                    placeholder="Email" name="email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" id="inputNome" 
                    placeholder="seu nome aqui" name="nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSobreNome">Sobrenome</label>
                    <input type="text" class="form-control" id="inputSobreNome" 
                    placeholder="Seu Sobrenome aqui" name="sobrenome">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Endereço</label>
                <input type="text" class="form-control" id="inputAddress2" 
                placeholder="Apartment, studio, or floor" name="endereco">
            </div>
            <div class="form-group">
                <textarea cols="74" rows="10" class="form-control" 
                name="mensagem"></textarea>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" name="receber-noticias">
                    <label class="form-check-label" for="gridCheck">
                        Receber noticias e email
                    </label>
                </div>
            </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>        
        </div>
        
        <div class="col-6">
            <p>
            Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada.
            Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. 
            Casamentiss faiz malandris se pirulitá. Leite de capivaris, leite de mula manquis sem cabeça.
            Casamentiss faiz malandris se pirulitá.

            Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada.
            Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. 
            Casamentiss faiz malandris se pirulitá. Leite de capivaris, leite de mula manquis sem cabeça.
            Casamentiss faiz malandris se pirulitá.
            </p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9877.060196881104!2d-44.952893610980006!3d-17.
                35760690666711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ab3990e1523469%3A0xb650cb3ef694528c!2sBuritizeiro%20-
                %20MG%2C%2039280-000!5e0!3m2!1spt-BR!2sbr!4v1620657762024!5m2!1spt-BR!2sbr" width="500" height="400" style="border:0;" 
                allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>    

{% endblock %}