{% extends "website/base.html" %}
{% load static %}

{% block main %}
    <div class="row row-space">
        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada.
            Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. 
            Casamentiss faiz malandris se pirulitá. Leite de capivaris, leite de mula manquis sem cabeça.
            Casamentiss faiz malandris se pirulitá.
        </div>

        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada.
            Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. 
            Casamentiss faiz malandris se pirulitá. Leite de capivaris, leite de mula manquis sem cabeça.
            Casamentiss faiz malandris se pirulitá.
        </div>
    </div>

    <div class="row row-space">
        <div class="col-4">
            Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada.
            Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. 
            Casamentiss faiz malandris se pirulitá. Leite de capivaris, leite de mula manquis sem cabeça.
            Casamentiss faiz malandris se pirulitá.
        </div>
        
        <div class="col-4">
            <img src="{% static 'img/car.jpeg' %}" alt="Estacionamento 24 horas">
        </div>

        <div class="col-4">
            Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada.
            Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. 
            Casamentiss faiz malandris se pirulitá. Leite de capivaris, leite de mula manquis sem cabeça.
            Casamentiss faiz malandris se pirulitá.
        </div>
    </div>

    <div class="row row-space">
        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada.
            Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. 
            Casamentiss faiz malandris se pirulitá. Leite de capivaris, leite de mula manquis sem cabeça.
            Casamentiss faiz malandris se pirulitá.
        </div>

        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada.
            Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. 
            Casamentiss faiz malandris se pirulitá. Leite de capivaris, leite de mula manquis sem cabeça.
            Casamentiss faiz malandris se pirulitá.
        </div>
    </div>


{% endblock %}