{% extends 'base.html' %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
            <a class="dropdown-item active" href="{% url 'core_lista_movrotativos' %}">Rotativo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'core_lista_mensalista' %}">Mensalistas</a>
            </div>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col">
        <h2>  Lista movimentos rotativos  </h2>
        
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Checkin</th>
                <th scope="col">Checkout</th>
                <th scope="col">Valor</th>
                <th scope="col">Veiculo</th>
                </tr>
            </thead>
            <tbody>
                {% for mov in mov_rot %}               
                <tr>
                <th scope="row">{{ mov.id }}</th>
                <td>{{ mov.checkin }}</td>
                <td>{{ mov.checkout }}</td>
                <td>R$ {{ mov.valor_hora }}</td>
                <td>{{ mov.veiculo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <a class="btn btn-info" href="{% url 'relatorio_pdf_movrotativo' %}">Relatorio PDF</a>
    <a class="btn btn-outline-success" href="{% url 'relatorio_csv_movrotativo' %}">Relatorio CSV</a>


            <form action="{% url 'core_movrotativos_novo' %}" method="POST">
                {% csrf_token %}
                
                {{form|bootstrap}}

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock  %}